$primary-color: #FDF6E3;    // Beige clair
$secondary-color: #D4A017;  // Or pâtissier
$text-color: #5E2605;       // Brun chocolat
$accent-color: #E74C3C;     // Rouge pour le compteur du panier
$footer-color: #6A645A;
$footer-font: #C18845;