@import 'variables';

.footer {
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  color: $text-color;
  margin-top:80px;
  padding: 25px;

  &__container {
    display: flex;
    width: 100%;
    justify-content:space-between ;
    
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .footer__logo {
    display: flex;
    flex-direction: column; /* Permet de placer l'image sous le logo */
    align-items: flex-start;
    margin-left: 50px;
    margin-bottom: 1rem;
  
    .footer__logo-img {
      width: 250px; /* Taille du logo */
      height: auto;
      margin-bottom: 20px;

      @media (max-width: 1080px) {
        width: 180px;
      }
    }
  
    .footer__image-below-logo {
      display: flex;
      align-items: flex-start;
      width: 150px; /* Taille de l'image sous le logo */
      height: auto;
      margin-left: 50px;
      margin-top: 20px; /* Ajoute un espace entre le logo et l'image */
      border-radius: 10px;
      

   
      @media (max-width: 1080px) {
        width: 100px;
        margin-left: 0;
      }
      @media (max-width: 768px) {
        margin-left: 0;
      
        width: 200px;
      }
     
    }
    @media (max-width: 768px) {
      align-items: center;
      width: 100%;
      margin-left: 0;
    }
  }
  &__section {
    min-width: 250px;
    margin-bottom: 1rem;
    @media (max-width: 1080px) {
      margin-left: 40px;
    }
  }

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(120, 120, 120);

    @media (max-width: 1080px) {
      font-size: 22px;
    }
  }

  &__address {
    color:black;
    font-style: normal;
    line-height: 1.6;
    font-family: museo-sans, "Century Gothic", sans-serif;
    font-size: 20px;
    @media (max-width: 1080px) {
      font-size: 16pxpx;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  &__nav {
    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.5rem;
      }

      a {
        color: $text-color;
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
          color: $secondary-color;
        }
      }
    }
  }

  &__social {
    display: flex;
    gap: 1rem;

    a {
      color: $text-color;
      transition: color 0.3s ease;

     
    }

  }
  .footer__social a {
    font-size: 36px; /* Ajustez la taille des icônes ici */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Largeur de l'icône, modifiable */
    height: 50px; /* Hauteur de l'icône, modifiable */
    transition: color 0.3s ease, transform 0.3s ease; /* Ajout d'une animation si nécessaire */
    @media (max-width: 1080px) {
      font-size: 28px;
    }
    
  }
  .footer__address a {
    color: #585858; /* Couleur personnalisée pour le téléphone et l'email */
    text-decoration: none;
    transition: color 0.3s ease;
  
    &:hover {
      color: #0056b3; /* Couleur au survol */
    }
    @media (max-width: 768px) {
      text-align: center; /* Centrer le texte sous l'image */
    }
    
  }
  
  .footer__social a:hover {
    color: $secondary-color;
    transform: scale(1.1); /* Agrandir légèrement l'icône au survol */
  }
  &__bottom {
    border-top: 1px solid #A3A3A3;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding-top: 1rem;
    text-align: center;
    &:hover {
      color: $secondary-color;
    }
  
  }
  &__bottom p ,a{
    color: black;
  }
}