/* src/Styles/global.scss */
body {
    margin: 0 0px; /* Ajustez la marge en fonction de vos besoins */
    padding: 0; /* Réinitialisez le padding si nécessaire */
    box-sizing: border-box; /* Assurez-vous que la marge est incluse dans les dimensions totales */
  }
  