.header {
  background-color: white;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 15px;
  padding-left: 0;
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between; // Espace entre le logo et les liens
    align-items: center; // Aligne verticalement
  }

  &__logo {
    flex: 1; // Ajuste la taille du logo et permet à la navigation de prendre le reste de l'espace
    display: flex;
    justify-content: start; // Centre le logo horizontalement dans son conteneur
  margin-left: 60px;
    &-img {
      max-height: 100px;
      width: auto;
    }
  }

  &__nav {
    flex: 2; // Permet à la navigation d'occuper plus d'espace par rapport au logo
    display: flex;
    justify-content: end; // Centre les liens horizontalement dans la navigation

    &-list {
      display: flex;
      justify-content: space-around; // Distribue les liens avec de l'espace autour
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    &-link {
      color: rgb(102, 102, 102);
      text-transform: uppercase;
      margin-right: 30px;
      font-size: 16px;
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 400;
      text-decoration: none;
      padding: 0.5rem 1rem;
      position: relative; // Important pour que le pseudo-élément soit positionné par rapport au lien
      transition: color 0.3s ease;
    
      // Création de l'effet underline via le pseudo-élément ::after
      &::after {
        content: '';
        position: absolute;
        width: 0; // La ligne commence avec une largeur de 0
        height: 1px; // Épaisseur de la ligne (simule l'underline)
        background-color: currentColor; // Utilise la couleur actuelle du texte
        bottom: 0; // Position en bas du texte
        left: 10px; // Départ à gauche
        transition: width 0.3s ease; // Transition fluide de la largeur
      }
    
      // Survol du lien
      &:hover {
        color: rgb(150, 150, 150);
    
        // Animation de la largeur du pseudo-élément pour créer l'effet de soulignement
        &::after {
          width: 80%; // La ligne s'étend sur toute la largeur du lien
        }
      }
    }
}}
