.header {
  background-color: #df9367;
  padding: 10px;
  margin-bottom: 40px;
  margin-top: 0px;
  padding-left: 0;
  position: relative;

  &__content {
    display: flex;
    justify-content: space-between; // Espace entre le logo et les liens
    align-items: center; // Aligne verticalement
    /* Réduisez pour les smartphones en mode portrait (moins de 576px) */
  @media (max-width: 576px) {
    flex-direction: column;
  }
  }
  &__logo {
    flex: 1;
    display: flex;
    justify-content: start; // Alignement à gauche du logo
    margin-left: 60px;
  
    &-img {
      max-height: 150px; // Hauteur maximale par défaut
      width: auto; // La largeur s'adapte à la hauteur pour garder les proportions
      max-width: 100%; // S'assure que le logo ne dépasse pas la taille du conteneur
  
      @media (max-width: 992px) {
        max-height: 130px; // Hauteur réduite pour les petits écrans
        max-width: 100%; // Ajustement automatique de la largeur
        
      }
  
      @media (max-width: 768px) {
        max-height: 100px; // Encore plus petit pour les très petits écrans
        max-width: 100%; // S'assure que l'image reste proportionnée
      }
      @media (max-width: 576px) {
        margin-bottom: 20px;
      }
    }
    @media (max-width: 992px) {
    margin-left: 40px ;
      
    }

    @media (max-width: 768px) {
      margin-left: 20px ;
    }
  }

  &__nav {
    flex: 2; // Permet à la navigation d'occuper plus d'espace par rapport au logo
    display: flex;
    justify-content: end; // Centre les liens horizontalement dans la navigation

    &-list {
      display: flex;
      justify-content: space-around; // Distribue les liens avec de l'espace autour
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    &-link {
      //color: rgb(102, 102, 102);
      color: black;
      text-transform: uppercase;
      margin-right: 30px;
      font-size: 16px;
      font-family: "Open Sans", "Helvetica Neue", sans-serif;
      font-weight: 400;
      text-decoration: none;
      padding: 0.5rem 1rem;
      position: relative; // Important pour que le pseudo-élément soit positionné par rapport au lien
      transition: color 0.3s ease;
    
      // Création de l'effet underline via le pseudo-élément ::after
      &::after {
        content: '';
        position: absolute;
        width: 0; // La ligne commence avec une largeur de 0
        height: 1px; // Épaisseur de la ligne (simule l'underline)
        background-color: currentColor; // Utilise la couleur actuelle du texte
        bottom: 0; // Position en bas du texte
        left: 10px; // Départ à gauche
        transition: width 0.3s ease; // Transition fluide de la largeur
      }
    
      // Survol du lien
      &:hover {
        color: rgb(150, 150, 150);
    
        // Animation de la largeur du pseudo-élément pour créer l'effet de soulignement
        &::after {
          width: 80%; // La ligne s'étend sur toute la largeur du lien
        }
      }
      @media (max-width: 992px) {
        font-size: 14px;
      }
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
}}
